DEBUG=True
SECRET_KEY=Authmed-test # Will be change in production
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=sqlite:///db.sqlite3

# JWT settings
SIMPLE_JWT_ACCESS_TOKEN_LIFETIME=00:30:00
SIMPLE_JWT_REFRESH_TOKEN_LIFETIME=07:00:00

# File uploads
MEDIA_ROOT=media
MEDIA_URL=/media/