DEBUG=True
SECRET_KEY=dev-please-change-this-to-a-secure-32+char-secret-for-production-2026 # Will be changed in production
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=sqlite:///db.sqlite3

# JWT settings
SIMPLE_JWT_ACCESS_TOKEN_LIFETIME=00:30:00
SIMPLE_JWT_REFRESH_TOKEN_LIFETIME=07:00:00

# File uploads
MEDIA_ROOT=media
MEDIA_URL=/media/